# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
docker.env
# Next.js
.next/
out/

# Production
build/
dist/
data/postgres

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Turbo
.turbo
Readme.md
# Bun
bun.lockb

# websocket
websocket